name: Build and Publish Electron App

on:
  push:
    branches:
      - main

jobs:
  windows_release:
    runs-on: windows-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 24.0.2

      - name: Install dependencies
        run: yarn install

      - name: Set up Git user
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Build/release Electron app on Windows
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release: true

  # linux_release:
  #   runs-on: ubuntu-latest
  #   needs: windows_release # Linux job depends on Windows job
  #   steps:
  #     - name: Check out Git repository
  #       uses: actions/checkout@v2

  #     - name: Install Node.js
  #       uses: actions/setup-node@v2
  #       with:
  #         node-version: 18.20.4

  #     - name: Install dependencies
  #       run: yarn install

  #     - name: Set up Git user
  #       run: |
  #         git config --global user.email "action@github.com"
  #         git config --global user.name "GitHub Action"

  #     - name: Increment version and push tag
  #       run: |
  #         git config --local user.email "action@github.com"
  #         git config --local user.name "GitHub Action"
  #         npm version patch -m "Bump version to %s"
  #         git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:main --tags

  #     - name: Build/release Electron app on Linux
  #       uses: samuelmeuli/action-electron-builder@v1
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #         release: true
